/* Seletores de tags */

body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body>* {
    line-height: 4vh;
    padding: 1vh 1vw;

}




article {
    flex: 1;
    background-color: grey;
}

header,
footer {
    background-color: #121619;
    color: white;
    min-height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}


button {
    background-color: black;
    color: white;

}




th {
    text-align: center !important;
}

th,
td {
    padding: 2px !important;

}

table,
th,
td {
    border: 1px solid black !important;
    border-collapse: collapse !important;
}






/* Classes */

/* @TODO: remover depois de debugar */
.color {
    background-color: red;
}


.flex-row>* {
    margin: 0.3vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.content {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;

}





.flex-center {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}


.logo-img {
    padding-right: 60px;
}

.nav-items>a {
    text-decoration: none;
    width: 100%;
    color: white;
    padding-right: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container-title {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.container-title>h1 {
    font-weight: 800;
    font-style: bold;

}

.procrastinador-mode {
    display: block;
    padding-left: 60px;
}

.check-mode {
    padding-top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.form-container>div {
    padding-right: 15px;
}

.task-container {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: left;

}

.task-content {
    padding-left: 290px;
}