/* Seletores de tags */

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body>* {
    line-height: 4vh;
    padding: 1vh 1vw;
}

article {
    flex: 1;

    background-color: #9fa2a3;
}

header,
footer {
    background-color: #121619;
    color: #9fa2a3;
    min-height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}


button {
    background-color: #121619;
    color: #9fa2a3;
}


th {
    text-align: center !important;
}

th,
td {
    padding: 2px !important;

}

table,
th,
td {
    border: 1px solid #121619 !important;
    border-collapse: collapse !important;
}

i {
    cursor: pointer;
}

green,
red {
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

green {
    color: rgb(23, 102, 23)
}


red {
    color: rgb(201, 40, 40);
}

/* Classes */

.color {
    background-color: red;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}


.flex-center {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}


.logo-img {
    transform: scale(2);
}

.white {
    color: #d4d7d8 !important;
}