body {
    min-width: 100vw;
    background-color: grey;
    padding: 0;
    margin: 0;
}

.w-100 {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1vw;
    margin: 0;
}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;

}

div.content>div {
    padding-left: 1vw;
    padding-right: 1vw;
}

body>* {
    line-height: 4vh;
}

button {
    background-color: black;
    color: white;

}

.flex-center {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

input {

    width: fit-content;
}